/*****************************************************************************
 * Authors: Levi Lindsey,
 *	    Jackie Lindsey
 *****************************************************************************/

/*****************************************************************************
 * GENERAL
 *****************************************************************************/
 
* {
	position:	absolute;
	margin:		0px;
	padding:	0px;
}

body {
	background-image:	url('images/background.jpg');
	background-repeat:	no-repeat;
	background-attachment:	scroll;
	background-position:	left top;
	color:		#000000;
	font-family:	"Lucida Handwriting", sans-serif;
	font-size:	11pt;
	text-align:	center;
}

.bubble * {
	left:		0px;
	top:		0px;
}

/*****************************************************************************
 * BIG BUBBLES
 *****************************************************************************/

.big_bubble * {
	z-index:	11;
}

.bubble_main_h {
	font-size:	17pt;
	font-weight:	bold;
	text-align:	center;
	top:		60px;
	width:		600px;
}

.bubble_p {
	left:		75px;
	top:		116px;
	width:		450px;
}

.bubble_sub_img {
	left:		225px;
	top:		220px;
	width:		150px;
}

.big_bubble {
	height:		420px;
	width:		600px;
}

.big_bubble>.bubble_main_img {
	height:		420px;
	width:		600px;
	z-index:	10;
}

.big_bubble>.bubble_border_img {
	height:		420px;
	width:		600px;
}

.big_bubble>.bubble_body {
	display:	block;
}

.big_bubble>.bubble_sub_h {
	display:	none;
}

.big_bubble>.bubble_body>.low_p {
	top:		142px;
}

/*****************************************************************************
 * SMALL BUBBLES
 *****************************************************************************/

body div.small_bubble {
	cursor:		pointer;
	height:		70px;
	width:		100px;
	z-index:	3;
}

.small_bubble>.bubble_main_img {
	height:		70px;
	width:		100px;
}

.bubble_sub_h {
	font-size:	13pt;
	font-weight:	bold;
	text-align:	center;
	top:		25px;
	width:		100px;
}

.small_bubble>.bubble_border_img {
	display:	none;
}

.small_bubble>.bubble_body {
	display:	none;
}

.small_bubble>.bubble_sub_h {
	display:	inline;
}

/*****************************************************************************
 * MISCELLANEOUS
 *****************************************************************************/

#bubble1 {
	height:		438px;
	width:		618px;
}

#bubble1 .bubble_main_img {
	height:		438px;
	width:		618px;
}

#bubble1 .bubble_main_h {
	font-size:	17pt;
	font-weight:	bold;
	text-align:	center;
	top:		230px;
	width:		618px;
}

#envelope_top {
	display:	none;
	height:		269px;
	width:		620px;
}

#envelope_bottom {
	display:	none;
	height:		438px;
	width:		618px;
}

.shadow {
	height:		104px;
	left:		-16px;
	top:		-16px;
	width:		134px;
	z-index:	-1;
}

.scripted_content {
	display:	none;
}
